{
  "extends": "airbnb",
  "rules": {
    "indent": ["error", 4],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "no-underscore-dangle": ["error", {
      "allowAfterThis": true,
      "allowAfterSuper": true,
      "allowAfterThisConstructor": true,
      "enforceInMethodNames": true
    }],
    "import/no-unresolved": "off",
    "import/extensions": "off"
  }
}
