:root {
    --color-black: #000;

    --color-white: #fff;

    --color-grey: #9ea7b3;

    --color-yellow: #f6e444;
    --color-yellow-active: #fff598;

    --color-darkblue: #213138;
    --color-darkblue-active: #30424a;

}
