:root {
    --color-black: #000;

    --color-white: #fff;

    --color-grey: #9ea7b3;
    --color-grey-active: #c3cfdd;
    --color-grey-400: #213137;
    --color-grey-500: #182328;

    --color-yellow: #f6e444;
    --color-yellow-active: #fff598;

    --color-darkblue: #213138;
    --color-darkblue-active: #30424a;

    --color-greyblue: #317284;

    --color-violet: #3a4364;

    --color-shadow: #0c0c0c;
}
